{{#partial "content"}}

    <div class="title">
        <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100">
                    <h1 class="display-3">Wildlife</h1>
                    <p class="lead mb-0">Welcome to wildlife tracker</p>
                </div>
            </div>
        </div>
    </div>

{{/partial}}

{{> layout.hbs}}